# Node modules
backend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
frontend/build
backend/dist

# Miscellaneous
.DS_Store
backend/src/.env
backend/src/.env
