# Node modules
backend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
backend/src/.env
frontend/.env

# Build directories
frontend/build
backend/dist

# Miscellaneous
.DS_Store